.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:first-child {
    background-color: #CECBD6;
}

/*tr:nth-child(odd) {
    background-color: #cecbd6;
}*/

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #f6f6f6;
    width: 80%;
    background-color: #f6f6f6;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}